{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Choachí - Cundinamarca</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores id earum et asperiores alias quaerat porro
            inventore magnam debitis, non quidem labore laboriosam quis harum quia ducimus reiciendis, necessitatibus
            laudantium?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/choachi.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}